*{
    padding: 0;
    margin: 0;
}

:root {
    --x: 0%;
}

body{
    background-color: #121212;
    font-family: 'Roboto Mono', monospace;
}

header{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

a{
    text-decoration: none;
    font-size: large;
    color: white;
    transition: 0.3s;
}

a:hover{
    background-color: white;
    color: black;
}

header p{
    position: relative;
}

header p::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 5px;
    background: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
}

input{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 110vh;
    height: 50px;
    border-radius: 5px;
    font-size: large;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    border: none;
}

::placeholder{
    opacity: 0.4;
}

form.nosubmit {
    border: none;
    padding: 0;
}

input.nosubmit {
    width: 260px;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

div.s{
    max-width: 1040px;
    margin: auto;
    font-size: medium;
    color: white;
}

div.s img{
    float: left;
    padding-right: 7px;
    padding-left: 7px;
    transition: 0.3s;
}

div.s img:hover{
    opacity: 0.7;
}

div.s h3{
    padding-bottom: 10px;
}

div.s h5{
    float: right;
    opacity: 0.5;
}

div.f{
    max-width: 1050px;
    margin: auto;
    font-size: medium;
    color: white;
}

div.f h3{
    padding-bottom: 22px;
}

div.f #ic{
    float: left;
    padding-right: 10px;
}

.br{
    display: block;
    margin: 0.5em;
}

.brbig{
    display: block;
    margin: 2em;
}

.brwow{
    display: block;
    margin: 15em;
}

.containerart {
    display: flex;
    position: relative;
    text-align: center;
    color: white;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    gap: 45px;
}

.containerart img{
    width: 15%;
    float: left;
    max-width: 310px;
    transition: 0.3s;
    border-radius: 35px;
    box-shadow: 0px black;
} 

.bottom-left {
    position: absolute;
    bottom: 30px;
    left: 80px;
    color: white;
}

.bottom-left-bottom {
    position: absolute;
    bottom: 10px;
    left: 90px;
    color: #90EE90;
}

.bottom-left-img {
    position: absolute;
    bottom: 17px;
    left: 30px;
}

.containerart img:hover{
    opacity: 0.7;
    box-shadow: 10px 5px 5px black;
}

.containerart2 img{
    width: 15%;
    float: left;
    max-width: 300px;
    transition: 0.3s;
} 

.bottom-left2 {
    position: absolute;
    bottom: 30px;
    left: 430px;
    color: white;
}

.bottom-left-bottom2 {
    position: absolute;
    bottom: 10px;
    left: 440px;
    color: #90EE90;
}

.bottom-left-img2 {
    position: absolute;
    bottom: 17px;
    left: 385px;
}

.containerart img:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

.containerart3 .bottom-left3, .bottom-left-bottom3{
    font-size: small;
}

.containerart3 img{
    width: 15%;
    float: left;
    max-width: 300px;
    transition: 0.3s;
} 

.bottom-left3 {
    position: absolute;
    bottom: 30px;
    left: 790px;
    color: white;
}

.bottom-left-bottom3 {
    position: absolute;
    bottom: 10px;
    left: 800px;
    color: white;
}

.bottom-left-img3 {
    position: absolute;
    bottom: 17px;
    left: 745px;
}

.containerart3 img:hover {
    opacity: 0.7;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

div.v {
    display: flex;
    width: 1040px;
    height: 400px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
    align-items: center;
    justify-content: center;
    overflow: show;
    border-radius: 15px;
    gap: 20px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

div.v img{
    width: 25%;
    transition: 0.3s;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0.2px rgba(0, 0, 0, 0.2);
}

div.v img:hover{
    transform: scale(0.8);
}

div.coc h5{
    bottom: 50px;
}

#pumpkin{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#up{
    background-color: rgb(102, 70, 219);
    padding: 5px;
    border-radius: 5px;
}

#up:hover{
    cursor: pointer;
}

#creat{
    background: rgb(135, 61, 165);
    padding: 5px;
    border-radius: 5px;
}

#creat:hover{
    cursor: pointer;
}

#login{
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
}

#login:hover{
    cursor: pointer;
}

#badge{
    display: flex;
    width: 20px;
    float: right;
    padding-left: 10px;
    align-items: center;
}

#picsdasd{
    float: left;
    padding-right: 5px;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    align-items: center;
    background-color: #f9f9f9;
    min-width: 585px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}